body {
    background: url(../images/bigcats4.jpg) no-repeat center;
    background-size: cover;
}


.card {
    align-self: center;
    margin-left: 38%;
    margin-top: 100px;
}

.jumbotron {
    height: 130px;
    text-align: center;
    margin: 0px;
    padding: 20px;

}